.cont {
	.top {
		color: #FF9302;

        .logo{
          display: inline-block;
          width: 200px;
          height: 100px;
          background-image: url("../img/dance.gif");
          background-size: contain;
        }

	}
	.bottom {
		color: #F00000;
	}
}